<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.aps.dal.mysql.masterimport.MasterImportMapper">

    <!-- 物理删除：根据物料号列表 -->
    <delete id="deleteByMaterialNos">
        DELETE FROM material_master_import
        WHERE material_no IN
        <foreach collection="materialNos" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 批量插入（使用 INSERT ALL 语法） -->
    <insert id="batchInsert">
        INSERT ALL
        <foreach collection="list" item="item" index="index">
            INTO material_master_import (
            id, material_no, material_desc, material_type, gross_weight, net_weight,
            base_uom, valuation_class, price_control, no_cost_estimation, qs_cost_estimate,
            size_dimension, procurement_type, production_storage_location, production_scheduler,
            distribution_flag, material_category, external_procurement_storage, planned_delivery_time,
            purchasing_group,   <!-- 新增 -->
            create_time, update_time, creator, updater, deleted, tenant_id
            ) VALUES (
            #{item.id, jdbcType=NUMERIC},
            #{item.materialNo, jdbcType=VARCHAR},
            #{item.materialDesc, jdbcType=VARCHAR},
            #{item.materialType, jdbcType=VARCHAR},
            #{item.grossWeight, jdbcType=NUMERIC},
            #{item.netWeight, jdbcType=NUMERIC},
            #{item.baseUom, jdbcType=VARCHAR},
            #{item.valuationClass, jdbcType=VARCHAR},
            #{item.priceControl, jdbcType=VARCHAR},
            #{item.noCostEstimation, jdbcType=VARCHAR},
            #{item.qsCostEstimate, jdbcType=VARCHAR},
            #{item.sizeDimension, jdbcType=VARCHAR},
            #{item.procurementType, jdbcType=VARCHAR},
            #{item.productionStorageLocation, jdbcType=VARCHAR},
            #{item.productionScheduler, jdbcType=VARCHAR},
            #{item.distributionFlag, jdbcType=VARCHAR},
            #{item.materialCategory, jdbcType=VARCHAR},
            #{item.externalProcurementStorage, jdbcType=VARCHAR},
            #{item.plannedDeliveryTime, jdbcType=NUMERIC},
            #{item.purchasingGroup, jdbcType=VARCHAR},   <!-- 新增 -->
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.creator, jdbcType=VARCHAR},
            #{item.updater, jdbcType=VARCHAR},
            0,               <!-- deleted 常量 -->
            1                <!-- tenant_id 常量，若需动态获取可改为 #{item.tenantId} -->
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>